---
layout: layouts/base.njk
---

<h1 id="main-content" tabindex="-1">{{ title | safe }}</h1>

{% if author %}
	<p>by
		{% for code_name in author %}
			{% for person in collections.people | personIs(code_name) %}<a href="/people/{{ person.page.fileSlug }}/">{{ person.data.title }}</a>{% endfor %}{% if loop.revindex0 and (loop.length > 2) %},{% endif %} {% if loop.revindex0 == 1 %}and{% endif %}
		{% endfor %}
	</p>
{% endif %}

<p class="lead"><a href="{{ issueURL }}">{{ issueLabel }}</a> | {{ type }} | {{ size }}</p>

{{ content | safe }}

{% if authorsNote or relatedWork %}
<h2>More</h2>
{% if moreNote %}<p>{{ moreNote }}</p>{% endif %}
<ul>
	{% if authorsNote %}<li><a href="{{ authorsNote }}">Author’s Note</a></li>{% endif %}
	{% if relatedWork %}<li>Related Work: <a href="{{ relatedWork }}">{{ relatedWorkTitle }}</a></li>{% endif %}
</ul>
{% endif %}

{% if author %}
{% for code_name in author %}{% for person in collections.people | personIs(code_name) %}
{% if not person.data.no_bio %}<h2>About {{ person.data.title }}</h2>{% endif %}
	{{ person.content | safe }}
{% endfor %}{% endfor %}
{% endif %}