---
layout: layouts/page.njk
title: Site Map
---

<h2>Pages</h2>

<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about/">About</a></li>
	<li><a href="/issues/">Issues</a></li>
	<li><a href="/about-this-site/">About This Site</a></li>
	<li><a href="/sitemap/">Site Map</a></li>
	<li><a href="/subscribe/">Subscribe</a></li>
</ul>

<h2>People</h2>

<ul>
{% for person in collections.people %}
	<li><a href="{{ person.url }}">{{ person.data.title }}</a></li>
{% endfor %}
</ul>

<h2>Issues</h2>

<h3>{{ navigation.issues[0].label }}</h3>

<ol>
	{% for piece in collections.issue01 | sortBy('order') %}
		<li>“<a href="{{ piece.url }}">{{ piece.data.title }}</a>” by {% for code_name in piece.data.author %}{% for person in collections.people | personIs(code_name) %}{{ person.data.title }}{% endfor %}{% if loop.revindex0 and (loop.length > 2) %},{% endif %} {% if loop.revindex0 == 1 %}and{% endif %} {% endfor %}</li>
	{% endfor %}
</ol>